<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <h2 style="text-align: center;"> Login</h2>

    <br>
    <br>

    <h5>Email:</h5>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" formControlName="email">

      <mat-error *ngIf="email.hasError('email')">
          Please enter a valid email address
        </mat-error>
    </mat-form-field>

<!-- 

    <div *ngIf="loginForm.errors?.name" class="alert alert-danger">
      {{loginForm.errors?.name}}
        <div *ngIf="loginForm.get('name').errors">
            Email is in wrong format.
          </div> 
    </div> -->

    <br>
    <h5>Password:</h5>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </form>

</div>


<div mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="login(loginForm.value.email, loginForm.value.password)"
    cdkFocusInitial>Login</button>

</div>
<br>
<br>
<mat-error *ngIf="this.error">
  {{this.error}}
</mat-error>

<br>
Not a user yet?
<button type="button" class="btn btn-outline-primary" (click)="register()">Register</button>