<!-- Cities Panel -->

<div id="loader" *ngIf="isLoading"></div>

<div id="listOfCitiesPanel">
  <form [formGroup]="this.cityService.citiesForm">
    <!-- <h4 class="modal-title" align="center">
      <label for="optimizeRoad">Optimize road </label
      ><input type="checkbox" id="optimizeRoad" checked="checked" />
    </h4>
    <hr class="delimeter" /> -->

    <h4 class="modal-title" align="center">List of cities:</h4>
    <br />

    <table>
      <tbody id="listOfCities" #cityRows *ngFor="let index of contorls">
        <tr class="list-group-item cityRow">
          <i class="fa fa-arrows-alt handle" aria-hidden="true"></i>
          <input
            type="text"
            class="cityText"
            formControlName="{{ index }}"
            (keyup.enter)="addCity()"
            (change)="findAndDisplayCity(index)"
          />
          <i class="fa fa-times-circle removeCityBtn" (click)="removeCity(index)" aria-hidden="true"></i>
        </tr>
      </tbody>
    </table>

    <i
      class="fa fa-plus-circle addCityBtn"
      (click)="addCity()"
      id="addCityBtn"
    ></i>

    <footer class="modal-footer">
      <button
        type="button"
        class="btn btn-info"
        (click)="runTSP()"
        id="runTSPBtn"
        [disabled]="isFetchingData"
      >
        Run
      </button>
    </footer>
  </form>
</div>
