@{
    Layout = "_Layout";
    ViewData["Title"] = "Dream Travel";
}

<body style="margin: 0;">

    <!-- Navbar -->
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">

            <!-- Title text -->
            <a href="" class="navbar-brand">Dream Travel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">

                    <!-- Journey list -->
                    <li class="dropdown nav-item" id="listOfCitiesBtn" display="none">
                        <a href="#" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Your travel</a>
                        <ul class="dropdown-menu" id="projectSelectorDropdown"></ul>
                    </li>

                    <!-- Cost limit button -->
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#limitCostModal" id="costLimiBtn" display="none">Change cost limit</button>
                    </li>

                    <!-- Info text -->
                    <li class="nav-item" id="infoText">
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <!-- Cities Panel -->
    <div id="listOfCitiesPanel">

        <h4 class="modal-title" align="center"> <label for="optimizeRoad">Optimize road    </label><input type="checkbox" id="optimizeRoad" checked="checked"></h4>
        <hr class="delimeter">

        <h4 class="modal-title" align="center"> List of cities:</h4>
        <br />

        <div id="listOfCities">

            <div class="cityRow" id="cityRow0">
                <hr class="line">
                <textarea class="cityText" id="0" rows="1" onchange="displayCityHandler(this, map)"></textarea>
                <button type="button" class="btn btn-danger" onclick="removeCityHandler(this)" id="0">X</button>
                <hr class="line">
            </div>

        </div>
        <button type="button" class="btn btn-success" onclick="addCityHandler(map)" id="addCityBtn">+</button>

        <footer class="modal-footer">

            <button type="button" class="btn btn-info" disabled="disabled" onclick="runTSPHandler(map)" id="runTSPBtn">Apply</button>
        </footer>

    </div>



    <!-- Limit Modal -->
    <div id="limitCostModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change limit of toll fee:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label id="limitValue"></label>
                    <input type="range" min="0" max="100" value="0" class="slider" id="costSlider">
                </div>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-info" id="runLimitBtn" onclick="limitCostHandler(map)" data-dismiss="modal">Apply</button>
                </footer>
            </div>
        </div>
    </div>




    <div id="loader"></div>
    <div id="map"></div>

    @section Scripts
        {
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ZkBAtPiwp0rk4SRdhH6vufM39eDMmHY&callback=initMap"
                async defer>
        </script>

        <script>

            function initMap() {
                document.getElementById("listOfCitiesBtn").style.display = "none";
                document.getElementById("costLimiBtn").style.display = "none";
                sessionId = Guid();
                directionsService = new window.google.maps.DirectionsService;
                map = new window.google.maps.Map(document.getElementById('map'),
                    {
                        zoom: 4,
                        center: { lat: 0, lng: 0 }
                    });

                cities.push(null);
                markers.push(null);

                $(document).keyup(function (event) {
                    if (event.which == 13) { //Enter
                        if (event.target.type === "textarea") { //removes the enter sign
                            //event.preventDefault();
                            var el = event.target.value;
                            event.target.value = el.substring(0, el.length - 1);
                        }
                        addCityHandler(map);
                    }
                });
            }

            $("#costSlider")[0].oninput = function () {
                $("#limitValue")[0].innerHTML = this.value + " €";
            }
        </script>
    }
</body>