src/**/obj/**/*
src/**/bin/**/*
tests/**/bin/*
tests/**/obj/*
*.cache
src/packages/**/*
*.ide-shm
*.ide
*.cache
*.ide-wal
*.ide
*.user
*.ide
*.dbmdl
*.jfm
*.ide
src/.vs/TravelingEco-Salesman/v15/.suo
