**/**/bin/**/*
**/**/bin/*
**/**/obj/*
**/**/obj/**/*
*.cache
src/packages/**/*
*.ide-shm
*.ide
*.cache
*.ide-wal
*.ide
*.user
*.ide
*.dbmdl
*.jfm
*.ide
.vs/**/*
.vs/*
**/.vs/**/*
LKHWin-2.0.9/x64/**
LKHWin-2.0.9/.vs/**
src/DreamTravel/log.txt
*.map
src/WebUI/wwwroot/js/*.js
src/DreamTravel/wwwroot/js/AddCityHandler.js
src/DreamTravel/wwwroot/js/ClearMapHandler.js
src/DreamTravel/wwwroot/js/DisplayCityHandler.js
src/DreamTravel/wwwroot/js/DisplayMarkerHandler.js
src/DreamTravel/wwwroot/js/DisplayRouteHandler.js
src/DreamTravel/wwwroot/js/FindCityNameHandler.js
src/DreamTravel/wwwroot/js/GlobalVariables.js
src/DreamTravel/wwwroot/js/Instruction.js
src/DreamTravel/wwwroot/js/LimitCostHandler.js
src/DreamTravel/wwwroot/js/RemoveCityByIndexHandler.js
src/DreamTravel/wwwroot/js/RemoveCityHandler.js
src/DreamTravel/wwwroot/js/RunTSPHandler.js
src/DreamTravel/wwwroot/js/SaveMapHandler.js
src/DreamTravel/wwwroot/js/UpdateCityHandler.js
src/DreamTravel/wwwroot/js/Utils/Guid.js
src/DreamTravel/wwwroot/js/Utils/Pad2.js
src/DreamTravel/wwwroot/js/Utils/Sleep.js
src/DreamTravel/wwwroot/js/WritePathInfoHandler.js
src/DreamTravel/wwwroot/js/WriteSummaryInfoHandler.js
src/WebUI/wwwroot/js/Utils/Guid.js
src/WebUI/wwwroot/js/Utils/Pad2.js
src/WebUI/wwwroot/js/Utils/Sleep.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplaySummaryInfo.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayRouteLabel.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayRoute.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayPathInfo.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayPage.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayMarker.js
src/WebUI/wwwroot/js/Repositories/CityRepository.js
src/WebUI/wwwroot/js/Repositories/CitiesPanelRepository.js
src/WebUI/wwwroot/js/DisplayHelpers/ClearMap.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayTravelSummary.js
src/WebUI/wwwroot/js/DisplayHelpers/DisplayPathsSummary.js
src/WebUI/log.txt
**/**/node_modules/*
backend/UpgradeLog.htm
*.v2
backend/.vs/DreamTravel/v16/.suo
