
src/TSPTimeCost/obj/**/*
src/TSPTimeCost/bin/**/*
src/TESWebUI/bin/**/*
src/TESWebUI/obj/**/*
src/TESWebUI/obj/*
src/TESWebUI/bin/*
tests/**/bin/*
tests/**/obj/*
*.cache
src/packages/**/*
*.ide-shm
*.ide
*.cache
*.ide-wal
*.ide
*.user
*.ide
src/TravelingSalesmanProblem/obj/TravelingSalesmanProblem.csproj.nuget.g.props
src/TravelingSalesmanProblem/obj/TravelingSalesmanProblem.csproj.nuget.g.targets
src/TravelingSalesmanProblem/obj/project.assets.json
