.hide-show-panel-btn {
    margin-top: 8.5rem;
    z-index: 1;
    background-color: white;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    border-radius: 0.25rem;
    border: 0px solid transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3)
}

.hide-panel-btn {
    margin-left: 16rem;
}

.show-panel-btn {
    margin-left: 0rem;
    display: none
}
