/* Optional: Makes the sample page fill the window. */
html, body {
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2FA4E7;
}
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    float: left;
    vertical-align: top;
    height: calc(100vh - 3.5rem);
    width: calc(100vw - 16rem);
    margin-top: 3.5rem;
    margin-left: 15rem;
    padding: 0;
}


#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2FA4E7;
    width: 30vh;
    height: 30vh;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    position: absolute;
    left: calc(50% - 15vh);
    top: calc(50% - 15vh);
    z-index: 1;
}
