<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/Traveling-Eco-Salesman.ico" />

    @*CSS*@
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/map.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @*JS*@
    <script src="js/GlobalVariables.js"></script>
    <script src="js/Utils/Guid.js"></script>
    <script src="js/Utils/Pad2.js"></script>
    <script src="js/Utils/Sleep.js"></script>
    <script src="js/DisplayMarkerHandler.js"></script>
    <script src="js/DisplayCityHandler.js"></script>
    <script src="js/DisplayRouteHandler.js"></script>
    <script src="js/AddCityHandler.js"></script>
    <script src="js/UpdateCityHandler.js"></script>
    <script src="js/RemoveCityHandler.js"></script>
    <script src="js/RemoveCityByIndexHandler.js"></script>
    <script src="js/FindCityNameHandler.js"></script>
    <script src="js/ClearMapHandler.js"></script>
    <script src="js/WritePathInfoHandler.js"></script>
    <script src="js/WriteSummaryInfoHandler.js"></script>
    <script src="js/RunTSPHandler.js"></script>
    <script src="js/LimitCostHandler.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", required: true)
</body>
</html>
