.card{
  width: 50em;
  margin: auto;
}

.title{
  text-align: center;
}

.number-input{
  width: 7em;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke:  rgb(0, 123, 255);
}
