variables:
 - name: BuildConfiguration
   value: 'Release'
 - name: workingDirectory
   value: 'sample-tale-code-apps/DreamTravel'


jobs:
  - job: RunE2ETests
    displayName: "Run E2E tests"
    steps:
      - task: UseDotNet@2
        displayName: 'Install .NET 10.0'
        inputs:
          packageType: "sdk"
          version: 10.0.x
          installationPath: $(Agent.ToolsDirectory)/dotnet

      - task: DotNetCoreCLI@2
        displayName: Test
        inputs:
          command: test
          projects: '$(workingDirectory)/tests/**/*E2E.Tests.csproj'
          arguments: "--configuration $(BuildConfiguration)"
          publishTestResults: true