<div mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <h2 style="text-align: center;"> Change Password</h2>

    <br>
    <br>

    <h5>Current password:</h5>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Current password" formControlName="currentPassword">
    </mat-form-field>

      <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>

    <br>
    <h5>New password:</h5>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="New password" formControlName="password">

      <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>

    <br>
    <h5>Confirm new password:</h5>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">

      <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
        Field is required
      </mat-error>
    </mat-form-field>

    <br>

    <button type="button" class="btn btn-primary" type="submit" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
      Apply
    </button>
  </form>

</div>

<br>
<mat-error *ngIf="this.error">
  {{this.error}}
</mat-error>