<div class="navbar">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      [routerLink]="'dream-trips'"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      Dream Trips
    </a>

    <a
      mat-tab-link
      [routerLink]="'dream-flights'"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      Dream Flights
    </a>

    <a
      mat-tab-link
      *ngIf="userService.isLoggedIn()"
      [routerLink]="'my-account'"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      My Account
    </a>

    <a
      mat-tab-link
      *ngIf="!userService.isLoggedIn()"
      [routerLink]="'register'"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      Register
    </a>
  </nav>

  <button
    *ngIf="!userService.isLoggedIn()"
    type="button"
    class="btn btn-light"
    mat-raised-button
    (click)="openDialog()"
  >
    Login
  </button>

  <button
    *ngIf="userService.isLoggedIn()"
    type="button"
    class="btn btn-light"
    mat-raised-button
    (click)="userService.logout()"
  >
    Logout
  </button>
</div>
