@{
    Layout = "_Layout";
    ViewData["Title"] = "Dream Travel";
}

<head>
</head>

<!-- Modal -->
<div id="listOfCitiesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Insert list of cities:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <textarea onkeyup="auto_grow(this)" id="listOfCities">City one
City two</textarea>
            </div>
        </div>

    </div>
</div>

<div id="btnModal">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listOfCitiesModal">Cities</button>
</div>
<div id="loader"></div>
<div id="map"></div>


@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ZkBAtPiwp0rk4SRdhH6vufM39eDMmHY&callback=initMap"
            async defer></script>

    <script>
        //TODO Route Display details after click
        function calculateAndDisplayRoute(directionsService,
            map,
            originLat,
            originLng,
            destinationLat,
            destinationLng,
            toll) {
            var directionsDisplay = new google.maps.DirectionsRenderer;
            directionsDisplay.setMap(map);
            directionsService.route({
                    origin: new google.maps.LatLng(originLat, originLng),
                    destination: new google.maps.LatLng(destinationLat, destinationLng),
                    travelMode: 'DRIVING',
                    avoidTolls: toll
                },
                function(response, status) {
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
        }


        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }

        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 4,
                    center: { lat: 0, lng: 0 }
                });


            var onChangeHandler = function() {
                var listOfCities = document.getElementById("listOfCities").value;

                document.getElementById("loader").style.display = "block";

                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: '@Url.Action("CalculateBestPath", "Home")',
                    data: { cities: listOfCities },
                    success: function(msg) {

                        var pathList = JSON.parse(msg);

                        var routeString = "Your path: \n";
                        for (var i = 0; i < pathList.length; i++) {
                            routeString +=
                                "From " +
                                pathList[i].StartingCity.Name +
                                " to " +
                                pathList[i].EndingCity.Name +
                                ". Cost: " +
                                pathList[i].Cost +
                                "\n";
                        }

                        alert(routeString);

                        for (var i = 0; i < pathList.length; i++) {

                            var isToll = true;

                            if (pathList[i].Cost === 0) {
                                isToll = false;
                            }
                            calculateAndDisplayRoute(directionsService,
                                map,
                                pathList[i].StartingCity.Latitude,
                                pathList[i].StartingCity.Longitude,
                                pathList[i].EndingCity.Latitude,
                                pathList[i].EndingCity.Longitude,
                                isToll);
                        };

                        document.getElementById("loader").style.display = "none";

                        //TODO: display markers
//                        for (var i = 0; i < pathList.length; i++) {
//                            var marker = new google.maps.Marker({
//                                position: new google.maps.LatLng(pathList[i].StartingCity.Latitude,
//                                    pathList[i].StartingCity.Longitude),
//                                map: map
//                            });
//                        }
                    },
                    statusCode: {
                        404: function(msg) { alert('cannot find resource'); },
                        500: function(msg) { alert('internal server error'); }
                    },
                    error: function(req, status, errorObj) {
                        // handle status === "timeout"
                        // handle other errors
                    }
                });
            }

            document.getElementById('listOfCitiesModal').addEventListener('change', onChangeHandler);

        }
    </script>
}
