@model TESViewModel

@{
    ViewData["Title"] = "Traveling Eco-Salesman";
}

<!-- Modal -->
<div id="listOfCitiesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Insert list of cities:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <textarea onkeyup="auto_grow(this)" id="listOfCities">City one
City two</textarea>
            </div>
        </div>

    </div>
</div>

<div id="btnModal">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listOfCitiesModal">Cities</button>
</div>

<div id="map"></div>


@section Scripts
    {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ZkBAtPiwp0rk4SRdhH6vufM39eDMmHY&callback=initMap"
            async defer></script>

    <script>

        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 4,
                    center: { lat: 0, lng: 0 }
                });


            var onChangeHandler = function () {

                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("CalculateBestPath", "Home")',
                    success: function(data) {
                        alert(data);

                        var citiesList = data.split(';');

                        for (var i = 0; i < 3; i++) {
                            calculateAndDisplayRoute(directionsService, map, citiesList[i], citiesList[i + 1], true);
                        };
                    },
                    statusCode: {
                        404: function (content) { alert('cannot find resource'); },
                        500: function (content) { alert('internal server error'); }
                    },
                    error: function (req, status, errorObj) {
                        // handle status === "timeout"
                        // handle other errors
                    }
                });

             //    calculateAndDisplayRoute(directionsService, map, 'Milan', 'Bergamo', true);
            }

            document.getElementById('listOfCitiesModal').addEventListener('change', onChangeHandler);

        }
    </script>
}
