<!-- <div> -->
<!-- [UserId], [From], [To], [DepartureDate], [ArrivalDate], [MinDaysOfStay], [MaxDaysOfStay], [OneWay] -->

<mat-card class="card">

  <mat-card-title class="title">
    Order your Dream Flight email!
  </mat-card-title>

  <br>
  <br>

  <form [formGroup]="orderForm">
    <mat-card-content>

      <h5>From:</h5>

      <mat-form-field>
        <input matInput
               placeholder="From"
               formControlName="from">
      </mat-form-field>

      <br>
      <br>
      <br>
      <h5>To:</h5>

      <mat-form-field>
        <input matInput
               placeholder="To"
               formControlName="to">
      </mat-form-field>

      <br>
      <br>
      <br>

      <h5>Date of Departure:</h5>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="DepartureDate"
               placeholder="Date of Departure"
               formControlName="departureDate">
        <mat-datepicker-toggle matSuffix [for]="DepartureDate">
        </mat-datepicker-toggle>
        <mat-datepicker #DepartureDate></mat-datepicker>
      </mat-form-field>

      <br>
      <br>
      <br>

      <h5>Date of Arrival:</h5>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="ArrivalDate"
               placeholder="Date of Arrival"
               formControlName="arrivalDate">
        <mat-datepicker-toggle matSuffix [for]="ArrivalDate">
        </mat-datepicker-toggle>
        <mat-datepicker #ArrivalDate></mat-datepicker>
      </mat-form-field>

      <br>
      <br>
      <br>

      <h5>Length of stay:</h5>

      <mat-form-field appearance="outline" class="number-input">
        <mat-label>Min days</mat-label>
        <input type="number" matInput
               placeholder="Min"
               formControlName="minDaysOfStay">
      </mat-form-field>

      —

      <mat-form-field appearance="outline" class="number-input">
        <mat-label>Max days</mat-label>
        <input type="number" matInput
               placeholder="Max"
               formControlName="maxDaysOfStay">
      </mat-form-field>



      <br>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button
              type="submit"
              (click)="onSubmit()">
        Submit
      </button>
    </mat-card-actions>

  </form>


</mat-card>





