<div class="container">
  <app-success-message
    [success]="this.successMessageService.get()"
  ></app-success-message>

  <h2 style="text-align: center;">Welcome Traveller!</h2>

  Ready for your next journey?

  <br />
  <br />
  <br />
  <br />

  <div class="row">
    <div class="column">
      <h4 style="text-align: center;">Dream Trips</h4>

      <br />
      Are you planning a round trip?
      <br />
      Insert desired cities or places and Dream Trips will find for you the
      optimal order: in the meaning of time and cost of the travel.

      <input
        type="image"
        src="assets/trip.png"
        [routerLink]="'/dream-trips'"
        class="tile"
      />
    </div>


    <div class="column">
      <h4 style="text-align: center;">Dream Flights</h4>

      <br />
      Are you looking for flights at a bargain price?
      <br />
      Nevermore miss an occasion! Subscribe for the email notification and stay
      informed about the flights: wherever and whenever you want.

      <input
        type="image"
        src="assets/plane.png"
        [routerLink]="'/dream-flights'"
        class="tile"
      />
    </div>
  </div>
</div>
