<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <h2 style="text-align: center;"> Login</h2>

    <br>
    <br>

    <h5>Email:</h5>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" formControlName="email" cdkFocusInitial>

      <mat-error *ngIf="loginForm.get('email').hasError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>

    <br>
    <h5>Password:</h5>
    <mat-form-field appearance="outline">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <br>

    <button type="button" class="btn btn-primary" type="submit" (click)="login()" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>

</div>

<br>
<mat-error *ngIf="this.error">
  {{this.error}}
</mat-error>

<br>
Not a user yet?
<button type="button" class="btn btn-outline-primary" routerLink="/register">Register</button>