<div class="container">
  <mat-list>
    <h4>Your Flight Email Orders:</h4>
    <br>
    <h5 style="margin-left: 4rem;">Details:</h5>
    <h5 style="margin-left: 28rem;">Days of email:</h5>
    <h5 style="margin-left: 18rem;">Actions:</h5>
    <div *ngIf="flightEmailOrders$ | async as flightEmailOrders">
      <mat-list-item *ngFor="let flightEmail of flightEmailOrders">
        <mat-icon mat-list-icon>airplanemode_on</mat-icon>
        <h3 mat-line>{{ flightEmail.from }} - {{ flightEmail.to }}</h3>
        <br />
        <p mat-line>
          {{ flightEmail.departureDate | date: "longDate" }} -
          {{ flightEmail.arrivalDate | date: "longDate" }}
        </p>
        <br />
        <p mat-line>
          {{ flightEmail.minDaysOfStay }} to
          {{ flightEmail.maxDaysOfStay }} days.
        </p>

        <button mat-mini-fab [ngStyle]="flightEmail.sunday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.sunday = !flightEmail.sunday; onDayChange(flightEmail.id, 'sunday', flightEmail.sunday)">S</button>
        <button mat-mini-fab [ngStyle]="flightEmail.monday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.monday = !flightEmail.monday; onDayChange(flightEmail.id, 'monday', flightEmail.monday)">M</button>
        <button mat-mini-fab [ngStyle]="flightEmail.tuesday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.tuesday = !flightEmail.tuesday; onDayChange(flightEmail.id, 'tuesday', flightEmail.tuesday)">T</button>
        <button mat-mini-fab [ngStyle]="flightEmail.wednesday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.wednesday = !flightEmail.wednesday; onDayChange(flightEmail.id, 'wednesday', flightEmail.wednesday)">W</button>
        <button mat-mini-fab [ngStyle]="flightEmail.thursday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.thursday = !flightEmail.thursday; onDayChange(flightEmail.id, 'thursday', flightEmail.thursday)">T</button>
        <button mat-mini-fab [ngStyle]="flightEmail.friday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 0.5rem;" (click)="flightEmail.friday = !flightEmail.friday; onDayChange(flightEmail.id, 'friday', flightEmail.friday)">F</button>
        <button mat-mini-fab [ngStyle]="flightEmail.saturday==true?{'background-color': 'rgb(0, 123, 255)'}:{'background-color':'gray'}" style="margin-right: 12rem;" (click)="flightEmail.saturday = !flightEmail.saturday; onDayChange(flightEmail.id, 'saturday', flightEmail.saturday)">S</button>

        <button
          type="button"
          class="btn btn-danger header cancel-btn"
          (click)="cancel(flightEmail.id)"
        >
          Cancel
        </button>
      </mat-list-item>
    </div>
  </mat-list>
</div>
