
<!-- <div> -->
  <!-- [UserId], [From], [To], [DepartureDate], [ArrivalDate], [MinDaysOfStay], [MaxDaysOfStay], [OneWay] -->

  <form [formGroup]="orderForm">

    <mat-form-field>
      <input matInput
             placeholder="From"
             formControlName="from">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput
             placeholder="To"
             formControlName="to">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="DepartureDate"
             placeholder="DepartureDate"
             formControlName="departureDate">
      <mat-datepicker-toggle matSuffix [for]="DepartureDate">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #DepartureDate></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="ArrivalDate"
             placeholder="ArrivalDate"
             formControlName="arrivalDate">
      <mat-datepicker-toggle matSuffix [for]="ArrivalDate">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #ArrivalDate></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field>
      <input type="number" matInput
             placeholder="MinDaysOfStay"
             formControlName="minDaysOfStay">
    </mat-form-field>

    <br>


    <mat-form-field>
      <input type="number" matInput
             placeholder="MaxDaysOfStay"
             formControlName="maxDaysOfStay">
    </mat-form-field>

    <br />

    <button mat-stroked-button
            type="submit"
            (click)="onSubmit()">
      Submit
    </button>

  </form>

  

<!-- </div> -->

